.home{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    gap:20px;
    overflow-y: scroll;
    background-color: rgba(82, 69, 118, 0.4);
}

.home-publications{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding:10px;
    gap:10px;
}

.home-about{
    width: 40%;
    height: auto;
}