
.new-recipe{
    position: absolute;
    width:55%;
    height:85%;
    display: flex;
    flex-direction: column;
    padding:2vh 2vh 0.5vh 2vh;
    gap:0.5vh;
    border-radius:1vh;
    background-color: #EBD1B6;
}

.new-recipe-title{
    width:100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 1.2vw;
    background-color: rgba(143, 109, 68, 0.3)
}

.new-recipe-information{
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:0.48vh;
}

.new-recipe-information input, .new-recipe-information textarea{
    width:100%;
    min-height: 5vh;
    outline: none;
    border: none;
    font-size: 3vh;
    padding: 0 2vh;
}

.new-recipe-containers{
    width:100%;
    height:55%;
    display: flex;
    gap:0.48vh;
    color:#8D3F0C;
}

.new-recipe-containers h2{
    margin-bottom: 2vh;
    font-size: 3vh;
}

.new-recipe-ingredients, .new-recipe-steps{
    width: 100%;
    height: 100%;
    text-align: justify;
    padding: 2vh;
    background-color: #fff;
    overflow-y: auto;
}

.new-recipe-input, .new-recipe-ingredient,.new-recipe-step{
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #eee;
    margin-bottom: 2vh;
}

.new-recipe-ingredient,.new-recipe-step{
    height: auto;
}

.new-recipe-input input,.new-recipe-input textarea{
    width:90%;
    height:100%;
    outline: none;
    border: none;
    border-radius: 2vh;
    padding-left: 2vh;
    font-size: 3vh;
    background-color: #eee;
}

.new-recipe-right-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width:10%;
    height:100%;
    font-size: 5vh;
    cursor: pointer;
}

.new-recipe-ingredient p,.new-recipe-step p{
    height: auto;
    width: 90%;
    padding: 2vh 0px 2vh 2vh;
    overflow-wrap: break-word;
    font-size: 3vh;
}

.textarea{
    height: 10vh;
}

.new-recipe-upload-media{
    width:100%;
    height:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2vh;
    padding:2vh;
    background-color: white;
}

.new-recipe-upload-media input[type="file"]{
    display:none;
}

.new-recipe-upload-media label{
    height: 5vh;
    padding:0px 1vh;
    display: flex;
    align-items: center;
    border-radius:2vh;
    color:white;
    font-weight: bold;
    cursor:pointer;
    font-size:2.5vh;
    background-color: rgba(143, 109, 68, 0.9);
}
.new-recipe-upload-media label:hover{
    background-color: rgba(143, 109, 68, 0.8);
}
.new-recipe-upload-media label:active{
    background-color: rgba(143, 109, 68, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.new-recipe-upload-media input[type="submit"]{
    height: 5vh;
    padding:0px 1vh;
    border:none;
    border-radius:2vh;
    cursor:pointer;
    font-size:3vh;
    font-weight: bold;
    color:#0e0101;
    background-color: #aecfae;
}
.new-recipe-upload-media input[type="submit"]:hover{
    background-color: #aecfaec4;
}
.new-recipe-upload-media input[type="submit"]:active{
    background-color: #aecfae8f;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.new-recipe-close{
    display: flex;
    height:10%;
    justify-content: center;
    align-items: center;
}