.search{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding:4vh 10vh;
    gap:2vh;
    background-color: rgba(82, 69, 118, 0.4);
}

.search-filters{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:2vh;
    padding: 2vh;
}

.search-filters p{
    width:auto;
    height:100%;
    padding:2vh;
    border-radius: 2vh;
    background-color: rgba(255, 255, 255, 0.539);
    text-align: center;
    font-size: 3vh;
    cursor: pointer;
}

.search-filters p:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

.search-results{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:3vh;
    padding:2vh;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.2);
}

.search-results::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}
