.publisher{
    width:100%;
    height:55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 10px;
    background: linear-gradient(-45deg,#ead1b1,#f1d3b2,#d9b690,#af9476);
}

.publisher img{
    width:50px;
    height:90%;
    border:1px solid black;
    border-radius:50%;
}

.publisher .pub-profile{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.publisher .pub-profile p{
    font-size:1.2vw;
    font-weight: bold;
}
