.publisher{
    width:100%;
    min-height: 8vh;
    max-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2vh;
    padding: 2vh;
    background: linear-gradient(-45deg,#ead1b1,#f1d3b2,#d9b690,#af9476);
}

.publisher img{
    width: 6vh;
    height: 6vh;
    border: 1px solid white;
    border-radius: 50%;
}

.publisher .pub-profile{
    width:70%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2vh;
}

.publisher .pub-profile p{
    font-size:1.2vw;
    font-weight: bold;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.pub-follow{
    width:30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
