.pub-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBD1B6;
}

.pub-recipe{
    width:100%;
}

.pub-recipe-title{
    display:flex;
    width:calc(100% - 4vh);
    margin:2vh;
    border-radius: 2vh;
    align-items:center;
    justify-content:center;
    font-size:2vw;
    background:linear-gradient(45deg,#875f44,#987861);
    color:white;
}

.pub-recipe-title p{
    width:90%;
    text-align: center;
    font-family: "Vivaldi";
    font-weight: bold;
    letter-spacing: 0.8vh;
}

.pub-recipe-title .icon{
    width:10%;
}

.pub-recipe-img img {
    width:100%;
    height: 20vw;
    object-fit: fill;
}

.pub-info{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-evenly;
    padding:0.4vh;
    margin-bottom: 2vh;
}

.pub-info div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1vh;
    font-size: 1.2vw;
}

.pub-info-like :first-child{
    font-size: 2vw;
    cursor: pointer;
}
.pub-info-view :first-child{
    font-size: 2.5vw;
    cursor: pointer;
}

.pub-info div p{
    width:5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2px 4px;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.pub-info-open,.pub-info-open p{
    cursor: pointer;
}

.pub-info-open p:active{
    background: linear-gradient(45deg,#EB9C9C,#2D4CE9);
}