.vertical-menu{
    position: fixed;
    height:100vh;
    width:20%;
    padding:10px;
    align-items: center;
    border-right:0.5px solid rgba(0, 0, 0, 0.18);
    color:white;
    background: linear-gradient(45deg,#2D4CE9,#EB9C9C);
}

.vertical-menu-title{
    margin:30px 0px 30px 0px;
    text-align: center;
    font-family: "Vivaldi";
    font-size:3vw;
}

.vertical-menu-items{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
}